body
  font-family: system-ui, Helvetica, Arial, sans-serif

.list-podcast
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.podcast-item
    display: flex
    flex-direction: row
    width: 80%
    height 325px
    border-radius: 6px;
    box-shadow: 8px 10px 12px rgba(0,0,0,0.15);
    margin:1em;

.podcast-image__container img
    border-radius:6px 0px 0px 6px


.podcast-info
    width: 100%
    margin: 30px 60px

.podcast-info__title
    font-size: 24px

.podcast-info__details
    display: flex
    flex-direction: row
.podcast-info__details h3
    margin: auto 3px

.podcast-info__description
    height: 69px

.podcast-info__audio audio
    margin-top: 2em
    width: 100%

