/**
 * Media Queries
 *******************************************
 */
@media screen and (min-width: 1080px)
  .podcast-item 
    flex-direction: row
    height: 100%

  .podcast-image__container img
    height: 100%;
    width: 350px

  .podcast-info
    width: 100%
    margin: 30px 60px

@media screen and (min-width: 1325px)
  .podcast-item 
    height: 350px

  .podcast-image__container img
    border-radius:6px 0px 0px 6px

  .podcast-info__description
    height: 69px